<ion-header>
  <ion-toolbar>
    <div class="header-container">
      <div class="header-content">
          <a class="header-logo" href="#default">Kloud9</a>
          <div class="header-right-content">
            <a class="active" href="#home">About Us</a> <a href="#contact">Search</a>
          </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="home-container">
      <div class="home-body-container">
          <div class="login-container">
              <div class="login-container-left">
                <div class="login-blue-menu">QR</div>
      					<div class="login-blue-menu"></div>
      					<div class="login-blue-menu"></div>
      					<div class="login-blue-menu"></div>
      					<div class="login-blue-menu">QR</div>
      					<div class="login-blue-menu"></div>
      					<div class="login-blue-menu"></div>
      					<div class="login-blue-menu"></div>
      					<div class="login-blue-menu"></div>
      					<div class="login-blue-menu"></div>
      					<div class="login-blue-menu"></div>
      					<div class="login-blue-menu"></div>
                <div class="login-blue-menu"></div>
                <div class="login-blue-menu"></div>
                <div class="login-blue-menu"></div>
              </div>
              <div class="login-container-middle">
                <div class="login-black-menu">QR</div>
                <div class="login-black-menu"></div>
                <div class="login-black-menu"></div>
                <div class="login-black-menu"></div>
                <div class="login-black-menu">QR</div>
                <div class="login-black-menu"></div>
                <div class="login-black-menu"></div>
                <div class="login-black-menu"></div>
                <div class="login-black-menu"></div>
                <div class="login-black-menu"></div>
                <div class="login-black-menu"></div>
                <div class="login-black-menu"></div>
                <div class="login-black-menu"></div>
                <div class="login-black-menu"></div>
                <div class="login-black-menu"></div>
              </div>
              <div class="login-container-right">
                  <div class="login-sign-in-container">
                    <form action="/action_page.php">
                        <div class="imgcontainer">
                          <img src="profile.jpg" alt="Avatar" class="avatar">
                          <p class="availability"></p>
                        </div>
                        <div class="login-form-container">
                            <label for="uname"><b>USER</b></label>
                            <input type="text" placeholder="USER / EMAIL / PHONE" name="uname" required>
                              <label for="psw"><b>PASSWORD</b></label> <input type="password" placeholder="PASSWORD" name="psw" required>
                            <button type="submit">LOGIN</button>
                            <div><label> <input type="checkbox" checked="checked" name="remember"> REMEMBER ME</label></div>
                        </div>
                        <div class="login-form-act-ctrl" style="background-color: #f1f1f1">
                            <button type="button" class="cancelbtn">CANCEL</button>
                            <a  class="logn-pwd-link" href="#">FORGOT PASSWORD</a>
                        </div>
                    </form>
                  </div>
              </div>
            </div>
      </div>
  </div>
</ion-content>
